

.btn-btn-success{
    color: white;
    background-color: rgb(63, 143, 63);
    border-radius: 25px 25px   
}
.button{
    color: white;
    background-color: rgb(63, 143, 63);
    border-radius: 25px 25px   


}
.abc{
    
    width: 400px;
    height: 420px;
    left: 0px;
    top: 0px;
    bottom: 0px;    
    background: #F0FFF0;
}

.categories{

    width: 400px;
    height: 500px;
    left: 0px;
    top: 0px;
    bottom: 0px;    
    padding-top: 30px;
    background: white;

}
.third{
    
    width: 400px;
    height: 600px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding :10px 20px
    

    
}
.forth{
    
    width: 400px;
    height: 300px;
    left: 0px;
    top: 0px;
    bottom: 0px;    
    background:white;
}



.row{
    padding: 2px;
}


.cat1, .cat2, .cat3, .cat4{
    
width: 270px;
height: 270px;
left: 1035px;
top: 618px;
background-color:whitesmoke;
padding: 50px 60px;
text-align-last: center;
}
.cat1:hover{
    background-color  :#E5E5E5;
    
}
.cat2:hover{
    background-color  :#E5E5E5;;
}
.cat3:hover{
    background-color  :#E5E5E5;;
}
.cat4:hover{
    background-color  :#E5E5E5;;
}



image{
    position: absolute;
width: 554px;
height: 346px;
left: 691px;
top: 157px;

}
.tc{
    color: orange;
   
}

.avatar {
    
    float: right;
    align-content: flex-end;
    width: 120px;
    height: 150px;
    
    
  }
  .ab{
    padding-top: 5%;
    padding-right: 20%; 
    font-size: medium;
      text-align: justify;
  }

  .foot{
      width: 400px;
      height: 300px;
      left: 0px;
      top: 0px;
      bottom: 0px;    
      background-color: black;
      color: white;
      font-weight: bold;
  }
  .a ,.x{
      text-align: center;
      font-size: xx-small;
  }
  
  
  .ahang{
    height: 10%;
    width: 10%;
   
   
  }

  .babu{
      text-align: right;
      font-size: x-small;
     
  }